.app-list-item {
  font-size: 1.25rem;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.app-list-item .btn-star,
.app-list-item .btn-edit {
  color: #aeaeae;
  background: radial-gradient(592.44px at 74.69% 65.61%, #262832 0%, #1A1B1F 100%);
}
.app-list-item .btn-trash {
  color: red;
  background: radial-gradient(592.44px at 74.69% 65.61%, #262832 0%, #1A1B1F 100%);
}
.app-list-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: red;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all;
  color: #fff;
}

.app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
  color: #FFD700;
}

.app-list-item.important .btn-star {
  color: #FFD700;
  background: radial-gradient(592.44px at 74.69% 65.61%, #262832 0%, #1A1B1F 100%);
}

.app-list-item .list-item-time {
  font-size: 16px;
  margin: 0 30px;
  color: #fff;
  white-space: nowrap;
}

.edit-post-form {
  margin: -45px 0 10px 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  display: flex;
}

.edit-post-form--show {
  opacity: 1;
  margin-top: 20px;
  z-index: 1;
}

.edit-post-form .new-post-label {
  margin-right: 5px;
}